Pillow~=9.2.0
qrcode~=7.3.1
numpy==1.23.1
opencv-contrib-python~=4.6.0.66
Flask==2.1.3
Werkzeug==2.1.2
itsdangerous~=2.1.2
SQLAlchemy~=1.4.39
gunicorn==20.1.0
click==8.1.3
Flask-Login==0.6.1
Flask-Mail==0.9.1
Flask-SocketIO==5.2.0
Flask-SQLAlchemy==2.5.1
Jinja2==3.1.2
python-socketio==5.7.1
validate-email==1.3
eventlet==0.30.3