{% extends "base.html" %} {% block title %} Device {% endblock %}
{% block content%}



<h1 align="center">Geräte</h1>
<body>

  <table class="table mt-3" content="width=device-width,  initial-scale=1">
    <thread>
      <tr>
        {% for header in db.query.statement.columns.keys()%}
        {% if header != "sid"%}
          <th class="col text-left col-md-auto"> {{ header }} </th>
        {% endif %}
        {% endfor %}
      </tr>
    </thread>
    <tbody>
        {% for device in db.query.all() %}
        <tr>
          <th class="text-left">{{ device.id }}</th>
          <td class="text-left">{{ device.dev_name }}</td>
          <td class="text-left">{{ "Ja" if (device.sid != "Null" and device.sid != None) else "Nein" }}</td>
        </tr>
        {% endfor %}

    </tbody>
  </table>
</body>

{% block script %} {% endblock %}
{% endblock %}