{% extends "base.html" %} {% block title %} Home {% endblock %}

{% block content%}
<h1 align="center">Logs ({{ user.name }})</h1>
<body>

  <div class="row align-items-end">
    <div class="col text-left">
      <p class=" col text-left ml-1"><a class="link-primary" href="{{url_for('views.home')}}"><u><-Zurück</u></a></p>
    </div>

    <div class="col text-right">
      <button type="button" class="btn btn-danger mr-4 mb-2" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-minus"></i> Benutzer löschen</button>
    </div>
  </div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete Warning</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Sind Sie sicher, dass Sie diesen Benutzer löschen möchten?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nein</button>
          <a href="{{ url_for('auth.delete_user_with_id', uid=user.id) }}" role="button" class="btn btn-danger" > Löschen </a>
        </div>
      </div>
    </div>
  </div>


  <table class="table mt-3">
    <thread>
      <tr>
        <th class="col text_left col-md-3"> Time </th>
        <th class="col text_left col-md-auto"> Activity </th>
        <th class="col-lg- text-center col-md-auto"> Video </th>
      </tr>
    </thread>
    <tbody>
        {% for log in user.logs[::-1] %}
        <tr>
          <th class="text-left">{{ log.time }}</th>
          <td class="text-left">{{ log.activity }}</td>
          {% if log.video %}
            <td class="text-center"><a class="link-primary" href="{{ url_for('auth.video_viewer', log_id=log.id) }}">Watch</a></td>
          {% endif %}
        </tr>
        {% endfor %}

    </tbody>
  </table>

{% block VidModal %} {% endblock %}

</body>

{% block script %} {% endblock %}
{% endblock %}