{% extends "base.html" %} {% block title %} Home {% endblock %}

{% block content%}
<body>
    <div class="d-flex flex-row">
      <div class="p-2">
          <div class="d-flex flex-column">
              <div class="p-2">User ID: {{ request_sender.id }}</div>
              <div class="p-2">User Name: {{request_sender.name }}</div>
              <div class="p-2">Device: {{ dev_id }}</div>
              <div class="p-2">Device: {{ date }}</div>
              <div class="p-2"><input type="button" value="<- Zurück" onclick="history.back()"></div>
            </div>
      </div>
          <div class="p-2"><img class="rounded mx-auto d-block rounded" src="{{ url_for('auth.open_vid_modal', vid_path=vid_path) }}" type="video/avi"> </div>
    </div>

</body>
{% endblock %}



